header{
    background-color: black;
    display: block;
    max-width: 100%;
    position: fixed, centre;
    padding: 100px;
    border-radius: 25px;
}
h1 {
    color: rgb(253, 253, 252);
    font-size: 72px;
    font-family:Arial, Helvetica, sans-serif;
    text-align: center;
    display: inline-block;
    padding: 5px 10px;
}
.Motto {
    text-align: center;
}
nav ul {
    white-space: nowrap;
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
    
  }
  nav li{
    width: 25%;
    display: inline-block;
    font-size: 24px;

  }
  footer {
    text-align: center;
    background-color: black;
    display: block;
    color: white

  }

  /* contact form styling   */
  /* contact form styling   */
  /* contact form styling   */
  input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */ 
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
  }
  
  /* Style the submit button with a specific background color etc */
  input[type=submit] {
    background-color: #000000;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  /* When moving the mouse over the submit button, add a darker green color */
  input[type=submit]:hover {
    background-color: #45a049;
  }
  
  /* Add a background color and some padding around the form */
  .container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    margin-top: 50px;
  }
  